// **------------------------------------* \\
// * General Settings
// * All might be overwritten
// **------------------------------------* \\
$baseFontSize: 16px !default;

$useRem: true !default;

$bemElementSeparator: '__' !default;
$bemModifierSeparator: '--' !default;

$colorMatches: ( ) !default;
